:root {
  --systemRed_default: rgb(255, 69, 58);
  --a-systemRed_default: 255, 69, 58;
  --systemRed_accessible: rgb(255, 105, 97);
  --a-systemRed_accessible: 255, 105, 97;
  --systemOrange_default: rgb(255, 159, 10);
  --a-systemOrange_default: 255, 159, 10;
  --systemOrange_accessible: rgb(255, 179, 64);
  --a-systemOrange_accessible: 255, 179, 64;
  --systemYellow_default: rgb(255, 214, 10);
  --a-systemYellow_default: 255, 214, 10;
  --systemYellow_accessible: rgb(255, 212, 38);
  --a-systemYellow_accessible: 255, 212, 38;
  --systemGreen_default: rgb(48, 209, 88);
  --a-systemGreen_default: 48, 209, 88;
  --systemGreen_accessible: rgb(48, 219, 91);
  --a-systemGreen_accessible: 48, 219, 91;
  --systemBlue_default: rgb(10, 132, 255);
  --a-systemBlue_default: 10, 132, 255;
  --systemBlue_accessible: rgb(64, 156, 255);
  --a-systemBlue_accessible: 64, 156, 255;
  --systemIndigo_default: rgb(94, 92, 230);
  --a-systemIndigo_default: 94, 92, 230;
  --systemIndigo_accessible: rgb(125, 122, 255);
  --a-systemIndigo_accessible: 125, 122, 255;
  --systemPink_default: rgb(255, 55, 95);
  --a-systemPink_default: 255, 55, 95;
  --systemPink_accessible: rgb(255, 100, 130);
  --a-systemPink_accessible: 255, 100, 130;
  --systemGray_default: rgb(152, 152, 157);
  --a-systemGray_default: 152, 152, 157;
  --systemGray_accessible: rgb(174, 174, 178);
  --a-systemGray_accessible: 174, 174, 178;
  --systemGray5_default: #242424;
  --a-systemGray5_default: 36, 36, 36;
  --systemGray5_accessible: #131313;
  --a-systemGray5_accessible: 19, 19, 19;
  --systemGray6_default: rgb(28, 28, 30);
  --a-systemGray6_default: 28, 28, 30;
  --systemGray6_accessible: rgb(36, 36, 38);
  --a-systemGray6_accessible: 36, 36, 38;
  --borderColor_accessible: #353538;
  --a-borderColor_accessible: 53, 53, 56;
  --borderColor_accessible2: #636365;
  --a-borderColor_accessible2: 99, 99, 101;
  --borderColor_accessible3: #393939;
  --a-borderColor_accessible3: 57, 57, 57;
  --ascentColor: #fff;
  --a-ascentColor: 255, 255, 255;
}