:root {
  --systemRed_default: rgb(255, 59, 48);
  --a-systemRed_default: 255, 59, 48;
  --systemRed_accessible: rgb(215, 0, 21);
  --a-systemRed_accessible: 215, 0, 21;
  --systemOrange_default: rgb(255, 149, 0);
  --a-systemOrange_default: 255, 149, 0;
  --systemOrange_accessible: rgb(201, 52, 0);
  --a-systemOrange_accessible: 201, 52, 0;
  --systemYellow_default: rgb(255, 204, 0);
  --a-systemYellow_default: 255, 204, 0;
  --systemYellow_accessible: rgb(160, 90, 0);
  --a-systemYellow_accessible: 160, 90, 0;
  --systemGreen_default: rgb(52, 199, 89);
  --a-systemGreen_default: 52, 199, 89;
  --systemGreen_accessible: rgb(36, 138, 61);
  --a-systemGreen_accessible: 36, 138, 61;
  --systemBlue_default: rgb(0, 122, 255);
  --a-systemBlue_default: 0, 122, 255;
  --systemBlue_accessible: rgb(0, 64, 221);
  --a-systemBlue_accessible: 0, 64, 221;
  --systemIndigo_default: rgb(88, 86, 214);
  --a-systemIndigo_default: 88, 86, 214;
  --systemIndigo_accessible: rgb(54, 52, 163);
  --a-systemIndigo_accessible: 54, 52, 163;
  --systemPink_default: rgb(255, 45, 85);
  --a-systemPink_default: 255, 45, 85;
  --systemPink_accessible: rgb(211, 15, 69);
  --a-systemPink_accessible: 211, 15, 69;
  --systemGray_default: rgb(142, 142, 147);
  --a-systemGray_default: 142, 142, 147;
  --systemGray_accessible: rgb(108, 108, 112);
  --a-systemGray_accessible: 108, 108, 112;
  --systemGray5_default: rgb(229, 229, 234);
  --a-systemGray5_default: 229, 229, 234;
  --systemGray5_accessible: rgb(216, 216, 220);
  --a-systemGray5_accessible: 216, 216, 220;
  --systemGray6_default: rgb(242, 242, 247);
  --a-systemGray6_default: 242, 242, 247;
  --systemGray6_accessible: rgb(235, 235, 240);
  --a-systemGray6_accessible: 235, 235, 240;
  --borderColor_accessible: #ccc;
  --a-borderColor_accessible: 204, 204, 204;
  --borderColor_accessible2: #f0f0f0;
  --a-borderColor_accessible2: 240, 240, 240;
  --borderColor_accessible3: #dedede;
  --a-borderColor_accessible3: 222, 222, 222;
  --ascentColor: #000;
  --a-ascentColor: 0, 0, 0;
}