.form-control, .form-select {
  background-color: var(--systemGray6_default);
  color: var(--systemGray_default);
  border-color: var(--borderColor_accessible);
}
.form-control:focus, .form-select:focus {
  background-color: var(--systemGray6_default);
}
.form-control[disabled], .form-select[disabled] {
  pointer-events: none;
  opacity: 0.5;
  background-color: var(--systemGray6_default);
  border-color: var(--borderColor_accessible);
}