@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap");
* {
  margin: 0;
}

body {
  font-family: "Montserrat", "Segoe UI", sans-serif;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--systemGray6_default);
}

::-webkit-scrollbar {
  width: 8px;
  background-color: var(--systemGray6_default);
}

::-webkit-scrollbar-thumb {
  background-color: var(--systemIndigo_default);
}

::-webkit-input-placeholder {
  color: rgba(var(--a-systemGray_accessible), 0.5) !important;
}

::-moz-placeholder {
  color: rgba(var(--a-systemGray_accessible), 0.5) !important;
}

:-ms-input-placeholder {
  color: rgba(var(--a-systemGray_accessible), 0.5) !important;
}

::-ms-input-placeholder {
  color: rgba(var(--a-systemGray_accessible), 0.5) !important;
}

::placeholder {
  color: rgba(var(--a-systemGray_accessible), 0.5) !important;
}

.effect_transitions :not([class^=theme]) {
  -webkit-transition: 0.25s !important;
  transition: 0.25s !important;
}

.form-control {
  font-size: 0.875rem;
  height: calc(2.75rem + 2px);
  font-weight: 400;
  line-height: 1.5;
  display: block;
  width: 100%;
  padding: 0.625rem 0.75rem;
  -webkit-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border: 1px solid #cad1d7;
  border-radius: 0.25rem;
  background-clip: padding-box;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.form-control:focus {
  color: #8898aa;
  border-color: rgba(50, 151, 211, 0.25);
  outline: 0;
}

.table {
  border-bottom: 0.125rem solid #dee2e6;
}
.table td, .table th {
  padding: 1rem;
}

.table-bordered {
  border: 0.0625rem solid #dee2e6;
}
.table-bordered td, .table-bordered th {
  border: 0.0625rem solid #dee2e6;
}
.table-bordered thead th {
  border-bottom-width: 0.125rem;
}

.page-item .page-link, .page-item span {
  font-size: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 36px;
  height: 36px;
  margin: 0 3px;
  padding: 0;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-link {
  line-height: 1.25;
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
}

.nav-pills .nav-link {
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.75rem 1rem;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  color: #5e72e4;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
}
.nav-pills .nav-item:not(:last-child) {
  padding-right: 1rem;
}

.dropdown-menu .dropdown-item {
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
}
.dropdown-menu .dropdown-item svg {
  margin-right: 1rem;
  vertical-align: -17%;
  font-size: 1rem;
}

.dropdown-item {
  font-weight: 400;
  display: block;
  clear: both;
  width: 100%;
  padding: 0.25rem 1.5rem;
  text-align: inherit;
  white-space: nowrap;
  color: #212529;
  border: 0;
  background-color: transparent;
}

.ml-2 {
  margin-left: 0.5rem !important;
}

.ml-3 {
  margin-left: 1rem !important;
}

.ml-4 {
  margin-left: 1.5rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.modal-body {
  padding: 1.5rem;
}

.modal-content .modal-header .close {
  margin: -1.25rem -1.25rem -1.25rem auto;
  padding: 1.25rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
  float: right;
  opacity: 0.5;
  text-shadow: none;
  background-color: transparent;
  border: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.modal-content .modal-header .close:hover {
  opacity: 1;
}

header {
  background: var(--systemGray6_default);
  padding: 1rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-bottom: 1px solid var(--borderColor_accessible);
}
header .logo svg {
  height: 20px;
}
header .logo svg path {
  fill: var(--ascentColor);
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
header nav > div {
  margin: 0 10px;
}
header .lang-switcher {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
header .lang-switcher #lang-switcher-dropdown {
  padding: 8px 10px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  border-radius: 5px;
  border: 1px solid var(--systemGray6_default);
}
header .lang-switcher #lang-switcher-dropdown img {
  height: 25px;
}
header .lang-switcher #lang-switcher-dropdown:hover {
  background: var(--systemGray6_accessible);
  border-color: var(--borderColor_accessible);
}
header .lang-switcher img {
  height: 20px;
}
header .theme-switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
header .theme-switcher .theme-checkbox {
  display: none;
}
header .theme-switcher .theme-indicator {
  width: 50px;
  height: 22px;
  background-color: var(--systemGray6_accessible);
  border-radius: 50px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 5px;
  border: 1px solid var(--borderColor_accessible);
}
header .theme-switcher .theme-icon {
  background: var(--systemGray6_default);
  position: relative;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 1px solid var(--borderColor_accessible);
  -webkit-transform: translateX(-4px);
          transform: translateX(-4px);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
header .theme-switcher .theme-checkbox:checked + label .theme-icon {
  -webkit-transform: translateX(25px);
          transform: translateX(25px);
}
header .theme-switcher .theme-checkbox:checked + label .theme-icon .theme-sun {
  opacity: 1;
}
header .theme-switcher .theme-checkbox:checked + label .theme-icon .theme-moon {
  opacity: 0;
}
header .theme-switcher .theme-checkbox:not(:checked) + label .theme-sun {
  opacity: 0;
}
header .theme-switcher svg {
  position: absolute;
  top: 2px;
  left: 2.5px;
  width: 12px;
  height: 12px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
header .theme-switcher svg path {
  fill: var(--systemGray_default);
}
header .profile-dropdown-wrapper #profile-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 10px;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  border-radius: 5px;
  border: 1px solid var(--systemGray6_default);
}
header .profile-dropdown-wrapper #profile-dropdown .profile-short-info {
  font-size: 14px;
  margin-right: 15px;
  color: var(--systemGray_default);
}
header .profile-dropdown-wrapper #profile-dropdown .profile-short-info .user-mail {
  font-weight: 500;
}
header .profile-dropdown-wrapper #profile-dropdown:hover {
  background: var(--systemGray6_accessible);
  border-color: var(--borderColor_accessible);
}
header .profile-dropdown-wrapper #profile-dropdown .profile-icon {
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}
header .profile-dropdown-wrapper .dropdown-menu .balance {
  padding: 0.6rem 1rem;
  border-bottom: 1px solid var(--borderColor_accessible);
  font-size: 15px;
  color: var(--systemGray_accessible);
}
header .profile-dropdown-wrapper .dropdown-menu .balance span {
  font-weight: 500;
}

.dropdown-menu {
  background-color: var(--systemGray6_default);
  border: 1px solid var(--borderColor_accessible);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.dropdown-menu .dropdown-item {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  color: var(--systemGray_accessible);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.dropdown-menu .dropdown-item > img {
  margin-right: 10px;
}
.dropdown-menu .dropdown-item svg {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.dropdown-menu .dropdown-item svg path {
  stroke: var(--systemGray_accessible);
}
.dropdown-menu .dropdown-item:hover {
  background-color: var(--borderColor_accessible);
}

.view-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: auto;
}

.sized__container {
  width: 100%;
  max-width: 1420px;
  padding: 0 10px;
}

.canvas-container {
  margin-top: 25px;
  margin-bottom: 25px;
}
.canvas-container.inactive {
  display: none;
}
.canvas-container:not(.unstyled) {
  background: var(--systemGray5_default);
  border: 1px solid var(--borderColor_accessible);
  color: var(--systemGray_accessible);
  padding: 1.5rem 1rem;
  border-radius: 5px;
}
.canvas-container:not(.unstyled) h5, .canvas-container:not(.unstyled) h6 {
  color: var(--systemGray_accessible);
}

.canvas-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.canvas-tools > div:nth-child(1) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.canvas-tabs .nav-item .nav-link {
  background: var(--systemGray5_default);
  border: 2px solid var(--borderColor_accessible2);
}
.canvas-tabs .nav-item .nav-link:hover:not(.active) {
  background: var(--systemIndigo_default);
  color: #fff;
  border-color: var(--systemIndigo_default);
}
.canvas-tabs .nav-item .nav-link.active {
  color: var(--systemBlue_default);
  border-color: var(--systemBlue_default);
}

.pagination .page-link {
  border-radius: 5px !important;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  font-family: "Montserrat", "Segoe UI", sans-serif;
}

.alert-danger {
  background: rgba(255, 55, 95, 0.2);
  border: 2px solid rgb(255, 55, 95);
  color: rgb(255, 55, 95);
  position: relative;
}
.alert-danger .close-alert {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-60%) scale(1.2);
          transform: translateY(-60%) scale(1.2);
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.alert-danger .close-alert:hover {
  opacity: 1;
}

.notiflix-notify-failure {
  border: 2px solid var(--systemPink_default);
}

.notiflix-notify-success {
  border: 2px solid var(--systemGreen_default);
}

.notiflix-notify-warning {
  border: 2px solid var(--systemOrange_default);
}

.notiflix-notify-info {
  border: 2px solid var(--systemBlue_default);
}

.cover-bg-type {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

footer {
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem;
}
footer .left-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
footer .left-content .logo {
  margin-bottom: 20px;
}
footer .left-content .description {
  color: #fff;
  margin-bottom: 30px;
}
footer .left-content .description span {
  color: #76CDD8;
  font-weight: 500;
}
footer .left-content .date {
  color: #fff;
  font-weight: 200;
}
footer .right-content .copy-item + .copy-item {
  margin-top: 20px;
}
footer .right-content .copy-item .title {
  color: #989898;
}
footer .right-content .copy-item .content {
  border: 2px solid #555555;
  background: #2B2B2B;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.6rem 1rem;
  margin-top: 5px;
  cursor: pointer;
}
footer .right-content .copy-item .content .text {
  color: #ffffff;
  font-weight: 400;
  margin-right: 15px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
footer .right-content .copy-item .content .copy-icon {
  margin-top: -4px;
}
footer .right-content .copy-item .content:hover .text {
  color: #007aff;
}

.status-chip {
  list-style: none;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 2.5px;
  margin-top: 2.5px;
}
.status-chip[data-status-code="1"] {
  background: rgba(var(--a-systemGreen_default), 0.1);
  color: var(--systemGreen_default);
}
.status-chip[data-status-code="1"]:hover {
  background: rgba(var(--a-systemGreen_default), 0.2);
}
.status-chip[data-status-code="2"] {
  background: rgba(var(--a-systemRed_accessible), 0.1);
  color: var(--systemRed_accessible);
}
.status-chip[data-status-code="2"]:hover {
  background: rgba(var(--a-systemRed_accessible), 0.3);
}
.status-chip[data-status-code="3"] {
  background: rgba(var(--a-systemBlue_accessible), 0.1);
  color: var(--systemBlue_accessible);
}
.status-chip[data-status-code="3"]:hover {
  background: rgba(var(--a-systemBlue_accessible), 0.2);
}
.status-chip[data-status-code="4"] {
  background: rgba(var(--a-systemOrange_accessible), 0.1);
  color: var(--systemOrange_accessible);
}
.status-chip[data-status-code="4"]:hover {
  background: rgba(var(--a-systemOrange_accessible), 0.2);
}
.status-chip[data-status-code="5"] {
  background: rgba(var(--a-systemPink_accessible), 0.1);
  color: var(--systemPink_accessible);
}
.status-chip[data-status-code="5"]:hover {
  background: rgba(var(--a-systemPink_accessible), 0.2);
}
.status-chip[data-status-code="6"] {
  background: rgba(var(--a-systemIndigo_accessible), 0.1);
  color: var(--systemIndigo_accessible);
}
.status-chip[data-status-code="6"]:hover {
  background: rgba(var(--a-systemIndigo_accessible), 0.2);
}
.status-chip[data-status-code="7"] {
  background: rgba(var(--a-systemYellow_accessible), 0.1);
  color: var(--systemYellow_accessible);
}
.status-chip[data-status-code="7"]:hover {
  background: rgba(var(--a-systemYellow_accessible), 0.2);
}
.status-chip[data-status-code="8"] {
  background: rgba(var(--a-ascentColor), 0.1);
  color: var(--ascentColor);
}
.status-chip[data-status-code="8"]:hover {
  background: rgba(var(--a-ascentColor), 0.2);
}

.flat-chip.price-chip {
  list-style: none;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 2.5px;
  margin-top: 2.5px;
  color: var(--systemGray_accessible);
}
.flat-chip.price-chip[data-price-code="1"] {
  background: rgba(18, 189, 178, 0.21);
  border: 1px solid rgb(18, 189, 178);
}
.flat-chip.price-chip[data-price-code="2"] {
  background: rgba(84, 160, 202, 0.21);
  border: 1px solid rgb(84, 160, 202);
}
.flat-chip.price-chip[data-price-code="3"] {
  background: rgba(130, 57, 188, 0.21);
  border: 1px solid rgb(130, 57, 188);
}

.invoices-panel-table tbody tr {
  cursor: pointer;
}
.invoices-panel-table tbody tr:hover {
  background-color: var(--systemGray6_default);
}
.invoices-panel-table tbody tr:hover > td {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.admin-checkbox-cell {
  position: relative;
}

.lostAttention > td:not(.status-column) {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.driver-chip {
  background-color: var(--systemGray6_default);
  padding: 4px 8px;
  border: 1px solid var(--borderColor_accessible);
  border-radius: 4px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.driver-chip .driver-avatar {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  margin-right: 10px;
}

.invoice-status-chip {
  list-style: none;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 2.5px;
  margin-top: 2.5px;
}
.invoice-status-chip[data-status-code="1"] {
  background: rgba(var(--a-systemGreen_default), 0.1);
  color: var(--systemGreen_default);
}
.invoice-status-chip:hover {
  background: rgba(var(--a-systemGreen_default), 0.2);
}
.invoice-status-chip[data-status-code="2"] {
  background: rgba(var(--a-systemPink_accessible), 0.1);
  color: var(--systemPink_accessible);
}
.invoice-status-chip[data-status-code="2"]:hover {
  background: rgba(var(--a-systemPink_accessible), 0.2);
}
.invoice-status-chip[data-status-code="3"] {
  background: rgba(var(--a-systemPink_accessible), 0.1);
  color: var(--systemPink_accessible);
}
.invoice-status-chip[data-status-code="3"]:hover {
  background: rgba(var(--a-systemPink_accessible), 0.2);
}
.invoice-status-chip[data-status-code="4"] {
  background: rgba(var(--a-systemOrange_accessible), 0.1);
  color: var(--systemOrange_accessible);
}
.invoice-status-chip[data-status-code="4"]:hover {
  background: rgba(var(--a-systemOrange_accessible), 0.2);
}
.invoice-status-chip[data-status-code="5"] {
  background: rgba(var(--a-ascentColor), 0.1);
  color: var(--ascentColor);
}
.invoice-status-chip[data-status-code="5"]:hover {
  background: rgba(var(--a-ascentColor), 0.2);
}
.invoice-status-chip[data-status-code="6"] {
  background: rgba(var(--a-systemBlue_accessible), 0.1);
  color: var(--systemBlue_accessible);
}
.invoice-status-chip[data-status-code="6"]:hover {
  background: rgba(var(--a-systemBlue_accessible), 0.2);
}

.invoices-dates-range-input {
  font-size: 0.875rem !important;
  color: var(--systemGray_default) !important;
}
.invoices-dates-range-input:hover {
  border-color: var(--borderColor_accessible) !important;
}

.modal-content {
  background-color: var(--systemGray6_accessible);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal-header, .modal-footer {
  border-color: var(--borderColor_accessible);
}

.modal-title {
  color: var(--systemGray_accessible);
}

.modal-header button.close i {
  color: var(--systemPink_default) !important;
}

.mc-part-title {
  color: var(--systemGray_default);
  margin-bottom: 15px;
  font-weight: 500;
}

.mc-item {
  margin-bottom: 15px;
  position: relative;
  color: var(--systemGray_accessible);
}

.mc-driver-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.mc-driver-wrapper .driver-chip {
  margin-left: 10px;
}

.micro-caution {
  font-size: 12px;
  color: var(--systemGray_accessible);
  opacity: 0.7;
}

.micro-caution-alert {
  font-size: 12px;
  color: var(--systemRed_default);
  opacity: 1;
}

.micro-caution-success {
  font-size: 12px;
  color: var(--systemGreen_default);
  opacity: 1;
}

.passport-block {
  border: 1px solid var(--borderColor_accessible);
  border-radius: 5px;
  margin: 10px;
}
.passport-block .title {
  margin-bottom: 5px;
  margin-top: 5px;
}
.passport-block .description {
  margin-bottom: 5px;
}

.accordion {
  --bs-accordion-bg: var(--systemGray6_accessible);
  --bs-accordion-active-bg: var(--systemGray6_default);
  --bs-accordion-btn-focus-border-color: var(--borderColor_accessible);
  --bs-accordion-border-color: var(--borderColor_accessible);
  --bs-accordion-btn-color: var(--systemGray_default);
  --bs-accordion-color: var(--systemGray_accessible);
}

.accordion-button.collapsed {
  background: var(--systemGray6_default);
}

.accordion-body {
  border: 1px solid var(--borderColor_accessible);
}

.loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.8);
}

.pos-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
}

.line-scale-pulse-out-rapid > div {
  background: var(--systemGreen_default);
}

input.highlight, select.highlight {
  border-color: var(--systemPink_accessible);
}

.pagination .page-link {
  background: rgba(var(--systemGray5_default), 0.8);
  color: var(--ascentColor);
  border: 3px solid var(--borderColor_accessible);
}
.pagination .page-link:not(.active):hover {
  border-color: var(--systemBlue_default);
  color: var(--systemBlue_default);
}
.pagination .page-link.active {
  border-color: rgba(var(--a-ascentColor), 0.8);
  color: rgba(var(--a-ascentColor), 0.8);
  background-color: var(--systemGray6_default);
}
.pagination .page-link.active:hover {
  background-color: rgba(var(--a-ascentColor), 0.8);
  color: var(--systemGray6_default);
}

.banner-alert {
  height: 300px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  background: var(--systemGray6_accessible);
  color: var(--systemGray_default);
  border: 1px solid var(--borderColor_accessible);
  border-top: 0;
  font-size: 20px;
}
.banner-alert .banner-icon svg {
  -webkit-transform: scale(2);
          transform: scale(2);
}
.banner-alert .banner-text {
  margin-top: 20px;
  text-align: center;
  line-height: 2;
}
.banner-alert .banner-text a {
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.banner-alert.danger .banner-icon svg [fill="#000000"] {
  fill: var(--systemRed_default);
}
.banner-alert.danger .banner-text a {
  color: var(--systemRed_default);
}
.banner-alert.danger .banner-text a:after {
  background-color: var(--systemRed_default);
}
.banner-alert.success .banner-icon svg path, .banner-alert.success .banner-icon svg .face-rect {
  fill: var(--systemGreen_default);
}
.banner-alert.success .banner-text a {
  color: var(--systemGreen_default);
}
.banner-alert.success .banner-text a:after {
  background-color: var(--systemGreen_default);
}
.banner-alert.neutral .banner-icon svg path, .banner-alert.neutral .banner-icon svg .face-rect {
  fill: var(--systemIndigo_default);
}
.banner-alert.neutral .banner-text a {
  color: var(--systemIndigo_default);
}
.banner-alert.neutral .banner-text a:after {
  background-color: var(--systemIndigo_default);
}

.sort-marker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 14px;
  cursor: pointer;
}
.sort-marker[data-sort-type=desc] .sort-asc-arrow {
  display: none;
}
.sort-marker[data-sort-type=asc] .sort-desc-arrow {
  display: none;
}
.sort-marker[data-sort-type=null] {
  opacity: 0;
}
.sort-marker .sort-wrap {
  position: relative;
  padding-left: 5px;
  height: 25px;
}
.sort-marker .sort-asc-arrow {
  position: absolute;
  top: 40%;
  right: -5px;
  width: 25px;
  height: 25px;
  background: var(--systemGreen_default);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.1338 15.2627L12.1338 9.2627L6.13379 15.2627' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.1338 15.2627L12.1338 9.2627L6.13379 15.2627' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  -webkit-transform: scale(0.8) translateY(-50%);
          transform: scale(0.8) translateY(-50%);
}
.sort-marker .sort-desc-arrow {
  position: absolute;
  bottom: 40%;
  right: -4px;
  width: 25px;
  height: 25px;
  background: var(--systemRed_default);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.1338 15.2627L12.1338 9.2627L6.13379 15.2627' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.1338 15.2627L12.1338 9.2627L6.13379 15.2627' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  -webkit-transform: rotate(180deg) scale(0.8) translateY(-50%);
          transform: rotate(180deg) scale(0.8) translateY(-50%);
}

#recaptchaEl {
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.disabled-captcha {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0.5;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#rc-anchor-alert {
  opacity: 0.1;
}

.fade-enter-active, .fade-leave-active {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}