@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap");
* {
  margin: 0;
}

body {
  font-family: "Montserrat", "Segoe UI", sans-serif;
}

.pagination .page-link {
  border-radius: 5px !important;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  font-family: "Montserrat", "Segoe UI", sans-serif;
}

.alert-danger {
  background: rgba(255, 55, 95, 0.2);
  border: 2px solid rgb(255, 55, 95);
  color: rgb(255, 55, 95);
  position: relative;
}
.alert-danger .close-alert {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-60%) scale(1.2);
          transform: translateY(-60%) scale(1.2);
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.alert-danger .close-alert:hover {
  opacity: 1;
}

.notiflix-notify-failure {
  border: 2px solid rgb(255, 55, 95);
}

.notiflix-notify-success {
  border: 2px solid rgb(48, 209, 88);
}

footer {
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem;
}
footer .left-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
footer .left-content .logo {
  margin-bottom: 20px;
}
footer .left-content .description {
  color: #fff;
  margin-bottom: 30px;
}
footer .left-content .description span {
  color: #76CDD8;
  font-weight: 500;
}
footer .left-content .date {
  color: #fff;
  font-weight: 200;
}
footer .right-content .copy-item + .copy-item {
  margin-top: 20px;
}
footer .right-content .copy-item .title {
  color: #989898;
}
footer .right-content .copy-item .content {
  border: 2px solid #555555;
  background: #2B2B2B;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.6rem 1rem;
  margin-top: 5px;
  cursor: pointer;
}
footer .right-content .copy-item .content .text {
  color: #ffffff;
  font-weight: 400;
  margin-right: 15px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
footer .right-content .copy-item .content .copy-icon {
  margin-top: -4px;
}
footer .right-content .copy-item .content:hover .text {
  color: #007aff;
}