<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <resource-ref>
        <res-ref-name>jdbc/crrt</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <jsp-config>
        <taglib>
            <taglib-uri>crrt</taglib-uri>
            <taglib-location>tlds/crrttags.tld</taglib-location>
        </taglib>
    </jsp-config>

    <context-param>
        <param-name>defaultLocale</param-name>
        <param-value>en</param-value>
    </context-param>

    <!--  404 page  -->
    <error-page>
        <error-code>404</error-code>
        <location>/views/exceptions/404.jsp</location>
    </error-page>

    <!--  If unexpected error occurred  -->
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/views/exceptions/500.jsp</location>
    </error-page>

    <!--  General Filter  -->
    <filter>
        <filter-name>GeneralFilter</filter-name>
        <filter-class>com.github.DiachenkoMD.web.filters.GeneralFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>GeneralFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Context params  -->
    <context-param>
        <param-name>default_theme</param-name>
        <param-value>DARK</param-value> <!-- should be taken from VisualThemes enum -->
    </context-param>
</web-app>
